.books {
    background-color: $backgroundColor;
    margin-top: 35px;

    .header {       
        @include header($headerBackgroundColor);
    }
    
    .description {
        margin: 20px 0px;
    }
    
    li {
        margin: 15px 0;
    }
}