input, textarea, select {
    border-radius: 3px;
    padding: 4px;
    color: $formFontColor;
}

textarea {
    width: 600px;
    height: 300px;
}

.row {
    display: block;
    margin-top: $initial_white_space;
    margin-bottom: $initial_white_space;
    
    label {
        vertical-align: top;
        min-width: 150px;
    }
}