.main-menu {
    $defaultPadding: 0.6rem;
    
    background-color: darken($backgroundColor, 10%);
    padding: $defaultPadding;
    font-size: 1.2rem;
    
    @include shadowBottom(black);
    
    a {
        color: $fontColor;
        text-decoration: none;
        display: inline-block;
        padding: $defaultPadding;
        margin-top: -$defaultPadding;
    }
    
    a:hover {
        background-color: darken($backgroundColor, 20%);
    }
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.main-menu.top-header {
    .links {
        /* fix weird behaviour when both classes are combined */
        padding-right: 30px;    
    }    
}