
/****************** HEADER MENU **********************/

header {
  color: rgb(246, 236, 211);
  font-size: 1.1em;
  margin: 0px;
  min-height: 114px;  
  padding-bottom: 13px;
  background-color: rgb(246, 236, 211);
    
  #logo {
    margin-left: 50px;
    height: 182px;
    float: left;
  }
  
  .header-content {
    background-color: rgb(47, 19, 11);
    position: relative;
  }
  
  /* LINKS */
  ul {
    list-style-type: none;
    text-transform: uppercase;
    margin-bottom: 9px;
    
    li {
      display: block;
      float: left;
    }
  }

   li a:hover, li a:active {
    text-shadow: 0 0 10px #fff;
  }
  
  .menu {
    display: inline-block;
    position: absolute;
    bottom: 1rem;
    left: 200px; /* default width of logo plus some whitespace */
    
    /* hide bottom line */
    margin-bottom: -6px;
  }

  @media(max-width: 1380px) {
      .menu {
        margin-top: 0px;   
      }    
  }
  
  .menu a {
      padding: 6px;
      padding-bottom: 8px;
      margin-right: 20px;
      margin-bottom: 10px;
      display: block;
  }
  
  .menu.with-active-submenu a {
    color: rgba(246, 236, 211, 0.22);
  }
  
  .menu.with-active-submenu .active {
    opacity: 0.25;
  }
  
  .menu .with-open-submenu {
    opacity: 0.75;
    color: rgb(47, 19, 11) !important; 
    background-color: rgb(246, 236, 211);
    border-radius: 4px;
  }
  
  .menu .active {
      color: rgb(47, 19, 11) !important; 
      background-color: rgb(246, 236, 211);
      border-radius: 4px;
  }
  
  a {
    color: rgb(246, 236, 211);
    text-decoration: none;
  }
  
  .menu .parent-menu {
      position: relative;
      cursor: pointer;
  }
  
  .menu .sub-menu {
      display: none;    
      position: absolute;
      z-index: 20; /* higher than z-index of main section */
      top: 47px;
      left: -16px;
      background-color: rgb(47, 19, 11);
      color: rgb(246, 236, 211);    
      padding-top: 4px;
      border-top-width: 0px;
      border-radius: 6px;      
      
      li {
        margin-left: -8px;
      }
  }
  
  .menu .sub-menu.visible {
      display: block;    
  }
  
  .menu .sub-menu.visible a {
      display: block;
      color: rgba(246, 236, 211, 1);
  }
}

/* LOGO */

@media(max-width: 1000px){
    header #logo {
        height: 162px;
    }
}

@media only screen and (max-width:440px){
  header #logo {
    height: 75px;
    margin-left: 10px;
  }
}


/* 
  hide menu on small screen and show hamburger instead
  also display only small logo 
*/
header {
  .hamburger, #logo-alt {
    display: none;
  }
} 

@media only screen and (max-width: 700px){
  header {
    min-height: 24px;
    
    #logo {
      display: none;
    }
  
    #logo-alt {
      display: inline-block;
      margin: 0.13rem;
      margin-left: 0.5em;
      font-size: 2rem;
    }
  
    .menu {
      display: none;
    }
    
    .menu.visible {
      display: block;
      position: relative;
      left: auto;
    }
    
    .hamburger {
      display: block;
      font-size: 1.6rem;
      cursor: pointer;
      float: right;
      margin-right: 1.2rem;
    }
    
    .hamburger.invisible {
      display: none;
    }
    
  }
}
