/// custom scrollbars for whole body (and all its children)
@include scrollbars(.5em, lighten($backgroundColor, 30));

html, body {
    font-family: $fontFamily;
    background-color: $backgroundColor;
    color: $fontColor;
}

a.link, .content a.link {
    color: #FF983C;
    font-weight: bold;
}

/** USEFUL HELPER CLASSES */
.clearfix {
    clear: both;
}

.inline-block {
    display: inline-block;
}

.upper {
    text-transform: uppercase;
}

.no-decaration {
    text-decoration: none;
}

.clickable {
    cursor: hand;
    cursor: pointer;    
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

@media(min-width: $bp_skillset_is_below) {
    .hide-on-small-screen {
        display: none;
    }
}

@media(max-width: $bp_skillset_is_below) {
    .show-on-small-screen {
        display: none;
    }
}

/** EOF - USEFUL HELPER CLASSES */

/** the main block */
.content {
    padding-top: 9vh;
    padding-left: 8vh;
    
    > div {
        vertical-align: top;
    }
    
    a {
        color: $fontColor;
    }
}

#main {
    background-image: url('/assets/david_1400px_2016.jpg');    
    background-size: cover;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-position-y: -40px;
}

@media(max-width: 1400px) {
    #main {
        background-position-y: 0px;
    }
}

// @media(max-width: 1800px) {
//     #main {
//         background-image: url('/assets/david_1600px_2016.jpg');
//         width: 100vw;
//     }   
// }
// 
// @media(max-width: 1600px) {
//     #main {
//         background-image: url('/assets/david_1600px_2016.jpg');
//         width: 100vw;
//     }   
// }

@media(max-width: 1400px) {
    #main {
        background-image: url('/assets/david_1400px_2016.jpg');
        width: 100vw;
    }   
}

@media(max-width: 1000px) {
    #main {
        background-image: url('/assets/david_1000px_2016.jpg');
        width: 100vw;
    }   
}

@media(max-width: 800px) {
    #main {
        background-image: url('/assets/david_800px_2016.jpg');
    }   
}

@media(max-width: 600px) {
    #main {
        background-image: url('/assets/david_600px_2016.jpg');
    }   
}

@media(max-width: 400px) {
    #main {
        background-image: url('/assets/david_400px_2016.jpg');
    }   
}

/* increase font size for mobile devices */
body.mobile-device {
    font-size: 4rem;
    
    #short-bio {
        font-size: 2rem;
    }
    
    .header, .skills-wrapper .headers {
        font-size: 100%;
    }
    
    .general-description {
        font-size: 70%;
    }
    
    .skills .skillset .more-link {
        font-size: 40%;
    }
    
    .skills .skillset .level-title {
        font-size: 50%;
    }
    
    .work {
        .testimonials {
            font-size: 70%;
        }
        
        .work-item .image {
            width: 100vh;
        } 
        
        .testimonials.half {
            width: 100vh;
        }
    }
    
    .btn {
        font-size: 2rem;
    }   
}
    
/* Apple IPad in Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {    
        
    #main {
        background-position-x: -444px;
    }
}

/* Apple IPhone in Portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {    
    
    html, body {
        font-size: x-large;
    }
    
    #main {
        background-position-x: -637px;
    }
}


/** Kindle Fire Portrait **/
@media only screen and (min-device-width : 1600px) and (max-device-width: 2560px) and (orientation : portrait) {
    
    #main {
        background-position-x: -1158px;
    }
}

/** Blackberry Playbook */
@media only screen and (min-device-width : 600px) and (max-device-width: 1024px) and (orientation : portrait) {    
    #main {
        background-position-x: -450px;
    }
}

/** LG Optimus */
@media only screen and (min-device-width : 384px) and (max-device-width: 640px) and (orientation : portrait) {    
    #main {
        background-position-x: -850px;
    }
}

/** Nokia Lumia 520 */
@media only screen and (min-device-width : 320px) and (max-device-width: 533px) and (orientation : portrait) {    
    #main {
        background-position-x: -850px;
    }
}

.greetings-wrapper {
    float: left;
    margin-top: $initial_white_space;
    min-height: 78vh;
}

#greetings {
    font-size: 4rem;    
    width: 52vh;
    font-weight: bold;
    @include textShadow();
}

#skillset {
    float: right;
    margin-top: $initial_white_space;
    
    .intro {
        font-size: 1.3rem;
    }
}

.show-skillset-bar {
    display: none;
    
    background-color: $footerBackground;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

@media(max-width: $bp_skillset_is_below) {
    .greetings-wrapper {
        float: none;
    }
    
    /* 
        On smaller screens the skillset wont be immediatelly visible
        There is no need for floating then...
     */
    #skillset {
        float: none;
    }   
    
    .show-skillset-bar {
        display: block;        
    }
}

#short-bio {
    width: 450px;
    font-size: 1.2rem;
    margin-top: 30px;
}

@media(max-width: 700px) {
    #short-bio {
        width: auto;
        padding-right: 45px;
    }   
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.bottom-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}