/// custom scrollbars for whole body (and all its children)
@include scrollbars(.5em, lighten($backgroundColor, 30));

html, body {
    font-family: $fontFamily;
    background-color: $backgroundColor;
    color: $fontColor;
}

.clearfix {
    clear: both;
}

.inline-block {
    display: inline-block;
}

.upper {
    text-transform: uppercase;
}

.no-decaration {
    text-decoration: none;
}

.clickable {
    cursor: hand;
    cursor: pointer;    
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}