/// custom scrollbars for whole body (and all its children)
@include scrollbars(.5em, lighten($backgroundColor, 30));

html, body {
    font-family: $fontFamily;
    background-color: $backgroundColor;
    color: $fontColor;
}

/** USEFUL HELPER CLASSES */
.clearfix {
    clear: both;
}

.inline-block {
    display: inline-block;
}

.upper {
    text-transform: uppercase;
}

.no-decaration {
    text-decoration: none;
}

.clickable {
    cursor: hand;
    cursor: pointer;    
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/** EOF - USEFUL HELPER CLASSES */

/** the main block */
.content {
    padding-top: 9vh;
    padding-left: 8vh;
    
    > div {
        vertical-align: top;
    }
    
    a {
        color: $fontColor;
    }
}

#main {
    background-image: url('/assets/david_1800px_2016.jpg');    
    background-size: cover;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

@media(max-width: 1800px) {
    #main {
        background-image: url('/assets/david_1800px_2016.jpg');
    }   
}

@media(max-width: 1600px) {
    #main {
        background-image: url('/assets/david_1600px_2016.jpg');
    }   
}

@media(max-width: 1400px) {
    #main {
        background-image: url('/assets/david_1400px_2016.jpg');
    }   
}

@media(max-width: 1000px) {
    #main {
        background-image: url('/assets/david_1000px_2016.jpg');
    }   
}

@media(max-width: 600px) {
    #main {
        background-image: url('/assets/david_600px_2016.jpg');
    }   
}

@media(max-width: 400px) {
    #main {
        background-image: url('/assets/david_400px_2016.jpg');
    }   
}

#greetings {
    font-size: 4rem;    
    width: 52vh;
    height: 50vh;
}

#middlespace {
    
}

#skillset {
    width: 30vw;
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.bottom-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}