/* 
 Skills Section 
 Based upon the example http://themes.3rdwavemedia.com/
 Rewritten to sass
*/

$skillsMargin: 57px;

#skillset {    
    width: 27vw;
}

@media(max-width: 1000px) {    
    #skillset {    
        width: 40vw;
    }
}

@media(max-width: 750px) {    
    #skillset {    
        width: 50vw;
    }
}

@media(max-width: 640px) {    
    #skillset {    
        width: 84vw;
    }
}

@media(max-width: 430px) {    
    #skillset {    
        width: 70vw;
    }
}

@media(max-width: 340px) {    
    #skillset .level-label {    
        display: none;
    }
}
.skills {
    padding-right: 33px;
         
    .header {
        margin-bottom: 30px;
        width: 27vw;
    }
    
    .header.show-on-small-screen {
        font-weight: bold;
        font-size: 2rem;        
        @include smallTextShadow();
    }
         
     .skillset {
                  
        .item {
            margin-bottom: 30px;
        }
        
        .level-title {
            font-size: 16px;
            position: relative;
            margin-top: 0;
            margin-bottom: 10;
            
            .level-label {
                color: darken($fontColor, 20%);
                font-size: 14px;
                font-weight: 400;
                font-family: "Lato", arial, sans-serif;
                position: absolute;
                right: 0;
                top: 0;
            }
        }         
        
        .level-bar {
            height: 15px;
            background: $skillBackground;
            border-radius: 3px;
        }
        
        .level-bar-inner {
            height: 15px;
            background: $skillColor;
            border-radius: 3px;
            width: 0%; /* will be increased dynamically via script */
        }
     } 
}

@media(max-width: $bp_skillset_is_below) {
   .skills-wrapper {
        background-color: #272D3F;
        display: block;
        margin-left: -$skillsMargin; /* override the padding from the main container otherwise the initial background image is visible */
        padding-left: $skillsMargin;        
           
        .header {
            @include header($headerBackgroundColor);
        } 
   }
}