/* define breakpoints for various scenarios */
$bp_skillset_is_below: 1100px;

$backgroundColor: #262D47; /* matches background color of the main image */
$fontColor: white; 
$fontFamily: 'Open Sans', sans-serif;
$skillColor: #66cb8c;
$skillBackground: #e8e8e8;
$footerBackground:#e8e8e8;
$contactHeaderBackground: #2ecc71;
$workHeaderBackground: #E67E22;
$formFontColor: #222;

// white space between header toolbar and main content
$initial_white_space: 30px;