$backgroundColor: #262D47; /* matches background color of the main image */
$fontColor: white; 
$fontFamily: 'Open Sans', sans-serif;
$skillColor: #66cb8c;
$skillBackground: #e8e8e8;
$footerBackground:#e8e8e8;