.work {
    
   background-color: $backgroundColor;
    
   .header {       
       @include header($workHeaderBackground);
   }
   
   .general-description {
        padding: 24px;
        padding-left: 0;
        font-size: 1.1rem;
   }
   
   .work-item {
       .item-header {
           font-weight: bold;           
           vertical-align: top;
           margin-bottom: 10px;
           font-size: 1.3rem;
           padding: 10px;
           padding-left: 0;
           border-radius: 3px;
           
           a {
               text-decoration: none;
           }
       }
       
       .description {
           margin-bottom: 15px;
           color:rgb(155, 156, 165);
       }
       
       .image {
           width: 47%;
           border-radius: 3px;
       }       
   }
      
    .testimonials {
        font-style: italic;
                
        img {
            max-width: 130px;
            float: left;
            margin-right: 15px;
            margin-bottom: 15px;
            border-radius: 3px;
        }
        
        .fa {
            color: #9b9ca5;
        }
    }
    
    .testimonials.half {
        width: 47%;
        margin-left: 20px;
    }
   
   @media(max-width:840px) {
        .testimonials.half {
            width: 100%;
            margin-left: 0px;
            margin-top: 20px;
        }
        
        .work-item {
            .image {
                width: 82vw;
            }
        }
   }
   
}
